* {
  box-sizing: border-box;
}

.enotes {
  background: url(assests/enotes.png);
  background-repeat:no-repeat;
  width: 70%;
  height: 46em;
}

.footer {
  position: fixed;
  left: 4rem;
  bottom: 0;
  text-align: center;
}

.about {
  justify-content: center;
  margin-top: 3rem;
}

.aboutus {
  margin-left: 3rem;
  margin-top: 5rem;
}

.card-split {
  width: 70%;
  word-break: break-all;
}

.ml {
  margin-left: 3rem;
}

.width {
  width: 50%;
}

.form-width {
  width: 60%;
}

.login {
  height: 35em;
  width: 46em;
  border-radius: 1.0rem;
}

.signup {
  width: 18.4em;
  height: 33.8em;
  border-radius: 1.0rem;
}

.flex-Direction {
  flex-direction: row;
}

.createUser > div {
  flex-direction: row;
  margin-left: 3rem;
}

/* MOBILE */
@media screen and (max-width:767px){
  .card-split {
    width: 80%;
  }

  .flex-Direction {
    flex-direction: column;
  }

  .login {
    background: unset;
  }

  .ml {
    margin-left: 1rem;
  }

  .width {
    width: 100%;
  }

  .form-width {
    width: 90%;
  }

  .createUser > div {
    margin-left: 1rem;
  }

  .footer {
    left: 0rem;
  }

  .aboutus {
    margin-left: 3rem;
    margin-top: 2rem;
  }

}

/* IPAD  */
@media screen and (max-width:1023px) and (min-width:768px){
  .card-split {
    width: 50%;
  }

  .flex-Direction {
    flex-direction: column;
  }

  .width {
    width: 65%;
  }

  .form-width {
    width: 100%;
  }

  .createUser > div {
    margin-left: 1rem;
  }

  .about {
    align-items: center;
    margin-top: 0rem;
  }

  .aboutus {
    margin-left: 8rem;
  }
}

/* IPAD PRO */
@media screen and (max-width:1366px) and (min-width:1024px){
  .card-split {
    width: 65%;
  }

  .about_eNotes {
    width: 76%;
  }

  .form-width {
    width: 75%;
  }

  .footer {
    left: 11rem;
  }

  .about {
    align-items: center;
  }
  
  .aboutus {
    margin-top: 0rem;
  }
}